# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.idea/
!.keep
.vscode/
.DS_Store
.angular

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-error.log

# compiled output
/dist
/dist.old
/build
.env